name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
        plugin:
          - clang
          - clang-format
    runs-on: ${{ matrix.os }}
    steps:
      - name: install ninja
        run: |
          sudo apt-get install -y ninja-build
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v3
        with:
          plugin: ${{ matrix.plugin }}
          command: ${{ matrix.plugin }} --version
